{% extends 'base.html' %}
<html>

<body>

{% block body %}

<ul>
        <li>
                <a class="logohome" href="#home">
                <img src="/static/image/logo.png" alt="Logo"  style="width:100%">
            </a>
       
            </li>
    <li><a href="#news">News</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="#about">About</a></li>
  </ul>



<center>
    {% if read %}
  
    <h1>{{ docname }}</h1>
    
    <div align="left" style="max-width: 1200px ;background-color: rgb(255, 255, 255); padding: 30px" >
    {% for line in read %}
        {{ line }}
        <br>
    {% endfor %}
    </div>
    
    {% endif %}

</center>
{% endblock %} 
 
</body>




</html>