{% load static %}
<html>

<header>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'style.css'%}" type = "text/css">
    {% block head %}
    <title>TMRS</title>
    <center><div id="logo">Medical Recommendation System</div></center>
    {% endblock %}
</header>

<body>
    {% block body %}
    {% endblock %}
</body>

</html>