header{
    height: 80px;
    background-image: url(/static/image/header.jpg);
    position:relative;
    left: 0;
    width:100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.diseasebox{
    width:1150px;
    background: rgb(202, 201, 201);
    height: 400px;
}
#logo{
    font: 48px tahoma;
    color: rgb(255, 255, 255);
    padding-left: 20px;
    padding-top: 5px;
}
#custom-search-input {
    margin:0;
    margin-top: 10px;
    padding: 0;
}
 
#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
 
#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:rgb(15, 153, 217);
}
 
.search-query:focus + button {
    z-index: 3;   
}


#table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #table td, #table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #table tr:nth-child(even){background-color: #f2f2f2;}
  
  #table tr:hover {background-color: #ddd;}
  
  #table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(5, 72, 148);
    color: white;
  }